* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  
  }
  body {
    overflow-x: clip;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
  }

  header {
    height: 1230px;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .header {
    position: relative;
    color: white;
    padding-right: 150px;
    padding-left: 150px;
  }
  
  .header-logo {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .header__logo {
    height: 61px;
    width: 208px;
  }
  
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

  .header__logo-lang {
    margin-right: 100px;
  }

#app-cover {
display: table;
    counter-reset: button-counter;}

.row {
  display: table-row;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  box-sizing: border-box;
}

.button-cover {
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e300;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-f {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button-f.r,
.button-f.r .layer {
      width: 85px;
    height: 37px;
  border-radius: 30px;
}

.button-f.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
  color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 25.5px;
        padding: 8px 0 9px 10px;
}

.layer {
  width: 100%;
  background-color: #ebf7fc00;
  transition: 0.3s ease all;
  z-index: 1;
      border: 2px solid white;
          text-align: end;
          padding: 5px 9px 0 10px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 25.5px;
}

/* Button 1 */
#button-1 .knobs:before {
    content: "RU";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 39px;
    height: 28px;
    color: #333;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 29.5px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px 10px 10px 30px;
    font-weight: 400;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "EN";
  left: 41px;
  background-color: #ffffff;
  border-radius: 10px 30px 30px 10px;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcfcfc00;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}


  
  .header__logo_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 530px;
  }
  
  .header__logo_menu-text {
    border-top: 2px solid transparent;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #ffff;
  }
  
  .header__logo_menu-text:hover {
    border-top: 2px solid #FAB223;
    color: #FAB223;
  }
  
  .header__line {
    margin-top: 195px;
    margin-bottom: 35px;
    width: 188px;
    height: 0;
    border: 0;
    border-bottom: 2px solid #FAB223;
  }
  
  .header__title_size-m {
    max-width: 1038px;
    width: 100%;
    margin-bottom: 45px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 70px;
    line-height: 86px;
  }
  
  .header__title_size-s {
    margin-bottom: 77px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
  }
  
  .button {
    background: #FAB223;
    border-radius: 40px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #333333;
    cursor: pointer;
  }
  .button:hover {
    background: #F0A819;
  }
  .button:active {
    background: #E69E0F;
  }
  
  .header__button {
    width: 280px;
    height: 74px;
  }
  
  .header__img_video {
    position: absolute;
    width: 440px;
    height: 271px;
    top: 1050px;
    right: 150px;
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  }

  .header__img_video-content {
  width: 100%;
  height: 100%;
}
  
  .header__img-play {
    width: 82px;
    height: 82px;
    background-image: url(images/play1.png);
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 179px;
    top: 80px;
    background-color: #0000ff00;
    border: none;
    cursor: pointer;
    transition: 1s;
  }
  
  .header__img-play:hover {
    background-image: url(images/play_Hover.png);
    background-position: center;
    background-size: cover;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    margin-top: 205px;
    padding-left: 150px;
  }
  
  .line {
    width: 92px;
    height: 0;
    border: 0;
    border-bottom: 2px solid #FAB223;
  }
  
  .about__title {
    margin-top: 13px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;
  }
  
  .about__text {
    display: flex;
    justify-content: flex-start;
    gap: 178px;
  }
  
  .about__par {
    margin-top: 30px;
    max-width: 650px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
  }
  .about__par_adaptation {
    display: none;
  }
  .about__par_adaptation-orange {
    color: #FAB223;
  }
  
  .about__text_line {
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 40px;
    max-width: 990px;
    width: 100%;
    border-left: solid 4px #FAB223;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
  
  }
  
  .about__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 75px;
    max-width: 1200px;
    width: 100%;
    gap: 55px;
  
  }
  
  .about__item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
  }
  
  .about__item_orange {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 45px;
    line-height: 40px;
    color: #FAB223;
  }
  
  .about__video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .about__video-icon {
    margin-top: 84px;
    cursor: pointer;
  }
  
  .about__video-text {
    margin-left: -36px;
    margin-top: 177px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
  }